/* Write your code here. */
.bg-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
  font-family: "Roboto";
  text-align: center;
}
.div-1 {
  background-color: #0b69ff;
  height: 50px;
  color: #ffffff;
  display: flex;
  width: 300px;
  margin-top: 20px;
  padding: 15px;
}
.div-2 {
  background-color: #2dca73;
  height: 50px;
  color: #ffffff;
  display: flex;
  width: 300px;
  margin-top: 20px;
  padding: 15px;
}
.div-3 {
  background-color: #ffb800;
  height: 50px;
  color: #ffffff;
  display: flex;
  width: 300px;
  margin-top: 20px;
  padding: 15px;
}
.div-4 {
  background-color: #ff0b37;
  height: 50px;
  color: #ffffff;
  display: flex;
  width: 300px;
  margin-top: 20px;
  padding: 15px;
}
.image {
  height: 25px;
  width: 25px;
  margin-right: 8px;
  align-self: center;
}
